.text-decorator-none{
    text-decoration: none;
}

.btnCancel{
    margin-right: 20px  !important;
    background-color: #860038 !important;
}

.button{
    background-color: #FDBB30 !important;
    color: black !important;
    border-color: white ;
 }

