.box{
   background-color: #860038 ;
}


.title{ 
    color: black !important;
    font-weight: bold !important;
 }

 .button{
    background-color: #FDBB30 !important;
    color: black !important;
    border-color: white ;
 }

 .posts{
     background-color: white !important;
 }