.box1{
    background-color:#FDBB30;
     height: 120px;
}

.box2{
    background-color: #df9a05;
     height: 60px;
}

.net{
    font-size: 60px !important;
    color: black;
}

.text{
    color: black;
}