.title{
    font-weight: bold;
}

.cursor{
    cursor: pointer;
    color: black;
}


.text-decorator-none{
    text-decoration: none;
}

.appbar-post{
   color: #041E42 !important ;
   background-color: #FDBB30 !important;
}

.text-color{
    color: white !important;
}